.footer {
  width: 100%;
  background-color: #77c1bb;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footer_socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 7px;
  width: 170px;
}

.footer_socialIcons_item {
  width: 26px;
  height: 26px;
  content: '';
  fill: rgba(100%, 100%, 100%, 0.6);
  border-radius: 40px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

.footer_socialIcons_item:hover {
  fill: rgba(0%, 0%, 0%, 1);
  fill: rgba(100%, 100%, 100%, 1);
  box-shadow: 0px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}